@using TechStoreApp.Components.CategoryList
@model CategoryListViewModel

@{
    double categoriesCount = Model.AllCount;
    double categoriesShowing = Model.Take > Model.AllCount ? Model.AllCount : Model.Take;
    double showingProgress = Math.Ceiling((categoriesShowing / categoriesCount) * 100);
}

@if (Model.Layout)
{
    <section class="tp-category-area pb-120">
        <div class="container">
            <div class="row" id="categoryItemsContainer">
                @foreach (var categoryItem in Model.Items)
                {
                    <div class="col-lg-4 col-sm-6">
                        <vc:category-item item="categoryItem"></vc:category-item>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="tp-category-main-result text-center mb-35 mt-35">
                        <p>Showing <span id="categoriesShowing">@categoriesShowing</span> of @categoriesCount products</p>
                        <div class="tp-category-main-result-bar">
                            <span id="categoryProgressBar" data-width="@(showingProgress)%"></span>
                        </div>
                    </div>
                    <div class="tp-category-main-more text-center">
                        @if (categoriesShowing < categoriesCount)
                        {
                            <button class="tp-load-more-btn"
                                    id="loadMoreBtn"
                                    data-skip="@Model.Skip"
                                    data-take="@Model.Take"
                                    data-count="@Model.AllCount">
                                Load More
                                <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.0003 1.698V5.2986H9.39966" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M11.4933 8.29916C11.1032 9.40329 10.3649 10.3507 9.38948 10.9987C8.41408 11.6467 7.2545 11.9601 6.08548 11.8917C4.91647 11.8233 3.80134 11.3768 2.90816 10.6195C2.01497 9.86225 1.3921 8.83518 1.13343 7.69309C0.874748 6.551 0.99427 5.35578 1.47398 4.28753C1.95369 3.21928 2.7676 2.33588 3.79306 1.77045C4.81852 1.20502 5.99998 0.988199 7.15939 1.15265C8.3188 1.31711 9.39335 1.85393 10.2211 2.68222L12.9996 5.29866" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="~/js/pages/categories.js"></script>
}
else
{
    @foreach (var categoryItem in Model.Items)
    {
        <div class="tp-category-item-container wow fadeInUp opacity-0 col-lg-4 col-sm-6">
            <vc:category-item item="categoryItem"></vc:category-item>
        </div>
    }
}

