@model SessionViewModel

<div class="tp-order-info-list">
    <ul>
        <li class=  "tp-order-info-list-header">
            <h4>Product</h4>
            <h4>Total</h4>
        </li>

        @foreach (var item in Model.Items)
        {
            <li class="tp-order-info-list-desc">
                <p>@item.Name <span> x @item.Quantity</span></p>
                <span>@item.Price</span>
            </li>
        }

        <li class="tp-order-info-list-total total-checkout-price">
            <span>Subtotal</span>
            <span>@Model.TotalPrice</span>
        </li>

        <li class="tp-order-info-list-shipping">
            <span>Free Shipping</span>
            <span>$0.00</span>
        </li>

        <li class="tp-order-info-list-total total-checkout-price">
            <span>Total</span>
            <span>@Model.TotalPrice</span>
        </li>
    </ul>
</div>

