@using TechStoreApp.Components.ProductList
@model ProductListViewModel

@{
    int previousPage = Model.Page - 1;
    int currentPage = Model.Page;
    int nextPage = Model.Page + 1;

    int firstPage = 1;
    int lastPage = (Model.AllCount + Model.PerPage - 1) / Model.PerPage;

    int showingFrom = currentPage * Model.PerPage - Model.PerPage + 1;
    int showingTo = currentPage * Model.PerPage;
}

@if (Model.Layout)
{
    <div class="tp-shop-top mb-45">
        <div class="row">
            <div class="col-xl-6 align-self-end">
                <div class="tp-shop-top-left d-flex">
                    <div class="tp-shop-top-result">
                        <p>Showing <span id="showingFrom">@(showingFrom)</span>–<span id="showingTo">@(showingTo)</span> of @(Model.AllCount) results</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="tp-shop-top-right d-sm-flex align-items-center justify-content-xl-end">
                    <div class="tp-shop-top-select">
                        <select>
                            <option>Default Sorting</option>
                            <option>Low to Hight</option>
                            <option>High to Low</option>
                            <option>New Added</option>
                            <option>On Sale</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div id="product-list-content-container">
    <div class="tp-shop-pagination mb-20">
        <div class="tp-pagination">
            <nav>
                <ul>
                    @if (currentPage != firstPage)
                    {
                        <li>
                            <form method="get" class="pagination-form">
                                <button type="submit" class="tp-pagination-prev prev page-numbers">
                                <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.00017 6.77879L14 6.77879" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M6.24316 11.9999L0.999899 6.77922L6.24316 1.55762" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                </button>

                                <input type="hidden" name="page" value="@previousPage" />
                                <input type="hidden" name="perPage" value="@Model.PerPage" />
                                <button type="submit">@previousPage</button>
                            </form>
                        </li>
                    }
                    <li>
                        <span class="current">@currentPage</span>
                    </li>
                    @if (currentPage != lastPage)
                    {
                        <li>
                            <form method="get" class="pagination-form">
                                <input type="hidden" name="page" value="@nextPage" />
                                <input type="hidden" name="perPage" value="@Model.PerPage" />
                                <button type="submit">@nextPage</button>

                                <button type="submit" class="next page-numbers">
                                    <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13.9998 6.77883L1 6.77883" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M8.75684 1.55767L14.0001 6.7784L8.75684 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </button>
                            </form>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>

    <div class="tp-shop-items-wrapper tp-shop-item-primary">
        <div class="tab-content" id="productTabContent">
            <div class="tab-pane fade show active" id="grid-tab-pane" role="tabpanel" aria-labelledby="grid-tab" tabindex="0">
                <div class="row infinite-container">
                    @foreach (var product in Model.Items)
                    {
                        <vc:product-item item="product"></vc:product-item>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="tp-shop-pagination mt-20">
        <div class="tp-pagination">
            <nav>
                <ul>
                    @if (currentPage != firstPage)
                    {
                        <li>
                            <form method="get" class="pagination-form">
                                <button type="submit" class="tp-pagination-prev prev page-numbers">
                                    <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.00017 6.77879L14 6.77879" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M6.24316 11.9999L0.999899 6.77922L6.24316 1.55762" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </button>

                                <input type="hidden" name="page" value="@previousPage" />
                                <input type="hidden" name="perPage" value="@Model.PerPage" />
                                <button type="submit">@previousPage</button>
                            </form>
                        </li>
                    }
                    <li>
                        <span class="current">@currentPage</span>
                    </li>
                    @if (currentPage != lastPage)
                    {
                        <li>
                            <form method="get" class="pagination-form">
                                <input type="hidden" name="page" value="@nextPage" />
                                <input type="hidden" name="perPage" value="@Model.PerPage" />
                                <button type="submit">@nextPage</button>

                                <button type="submit" class="next page-numbers">
                                    <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13.9998 6.77883L1 6.77883" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M8.75684 1.55767L14.0001 6.7784L8.75684 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </button>
                            </form>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>


@if (Model.Layout)
{
    <script type="module" src="~/js/pages/products.js"></script>
}
