@model SessionItemViewModel

<tr class="session-item" data-product-id="@Model.ProductId">
    <td class="tp-cart-img">
        <a href=@($"/products/details/{Model.Slug}")>
            <img src="@Model.ImageUrl" alt="">
        </a>
    </td>

    <td class="tp-cart-title">
        <a href=@($"/products/details/{Model.Slug}")>@Model.Name</a>
    </td>

    <td class="tp-cart-price">
        <span class="session-price" data-product-id="@Model.ProductId">@Model.PriceForAll</span>
    </td>

    <td class="tp-cart-quantity">
        <div class="tp-product-quantity mt-10 mb-10">
            <span class="tp-cart-minus">
                <svg width="10" height="2" viewBox="0 0 10 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1H9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </span>
            <input
                class="tp-cart-input session-quantity"
                type="text"
                data-product-id="@Model.ProductId"
                data-status="@Model.Status"
                data-showed-price="@Model.Price"
                value="@Model.Quantity">
            <span class="tp-cart-plus">
                <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 1V9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M1 5H9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </span>
        </div>
    </td>

    <td class="tp-cart-action">
        <form class="session-remove-form" data-product-id="@Model.ProductId" data-status="@Model.Status">
            <button type="submit" class="tp-cart-action-btn">
                <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.53033 1.53033C9.82322 1.23744 9.82322 0.762563 9.53033 0.46967C9.23744 0.176777 8.76256 0.176777 8.46967 0.46967L5 3.93934L1.53033 0.46967C1.23744 0.176777 0.762563 0.176777 0.46967 0.46967C0.176777 0.762563 0.176777 1.23744 0.46967 1.53033L3.93934 5L0.46967 8.46967C0.176777 8.76256 0.176777 9.23744 0.46967 9.53033C0.762563 9.82322 1.23744 9.82322 1.53033 9.53033L5 6.06066L8.46967 9.53033C8.76256 9.82322 9.23744 9.82322 9.53033 9.53033C9.82322 9.23744 9.82322 8.76256 9.53033 8.46967L6.06066 5L9.53033 1.53033Z" fill="currentColor" />
                </svg>
                <span>Remove</span>
            </button>
        </form>
    </td>
</tr>
